{% extends 'base.html' %}

{% block content -%}
{{ super() }}
<div>
<h2>Регистрация:</h2>

              {% for cat, msg in get_flashed_messages(True) %}
              <div class="flash {{cat}}">
                {{msg}}
              </div>
              {% endfor %}
              <form  class="registrationUser" name="registerForm">
                <div class="inputBlock _registration">
                  <label for="userName">Пользователь</label>
                  <input
                    class="__inputFields"
                    type="text"
                    name="userName"
                    value="" required
                  />
                  <label for="userEmail">E-mail</label>
                  <input
                    class="__inputFields"
                    type="text"
                    name="userEmail"
                    value="" required
                  />
                  <label for="password">Пароль</label>
                  <input
                    class="__inputFields"
                    type="text"
                    name="password"
                    value="" required
                  />
                </div>
                <div class="__buttonBlock">
                  <button formaction="/registration" formmethod="post" type="submit" class="registr" id="registration">
                    Регистрация
                  </button>
                </div>
              </form>
            </div>


{% endblock -%}